html{
    scroll-behavior: smooth;
    overflow: auto;
}

body{
    background: url(/images/Portfolio-background.png)  no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
  }
    

section{
    height: 100vh;
}

/* Navbar */
nav{
    background-color: inherit !important;
    height: 0px !important;
    position: fixed;
    top: -50px;
    width: 100%;
    display: block;
    transition: top 2s;
}

.nav-wrapper{
    background-color: #000000;
    float: right;
}

#nav-mobile{
    display: flex;
    justify-content: center;
    
}

#navTitle{
    font-size: 2rem;
    color: rgb(151, 0, 0);
}

#navTitle:hover{
    text-decoration: underline black;
    background-color: inherit;
}

#mobile-demo{
    background-color: #000000;
    text-align: center;
    width: 50%;
    
}

#mobileTitle{
    color: #970000;
    font-size: 2rem;
    margin-top: 50%;
}

#menuIcon{
    color: rgb(151, 0, 0);
}

/* Landing Page */
#landing{
    height: auto;
}
#landingContent{
    margin-top: 10px;
}

#myPic{
    width: 100%;
}

#welcomeHeader{
    text-align: center;
    transform: translate(0%, 100%);
    font-family: 'Abril Fatface', cursive;
    font-size: 6rem;
}
ul{ 
    white-space:nowrap; 
    width: 90%;
} 

#subTitle{
    margin: 0px;
}

li{ 
    display:inline; 
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

#subSubTitle{
    margin-left: 20%;
    color: #970000 !important;
    font-size: 3rem;
}

/* Portfolio */
#portfolioSection{
    background: url(/images/portfolio\ backdrop.png) no-repeat  bottom -175px left 500px fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 1100px;
}

#portfolioHeader{
    font-family: 'Abril Fatface', cursive;
}

#instruction{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #970000;
    font-size: 1.5rem;
}

#workCard{
    margin-left: 5%;
    background-color: white;
    color: black;
    border: solid black;
    font-size: 1rem;
    height: 50%;
}

.card-title{
    text-decoration: underline rgb(151, 0, 0);
}

.card-image{
    border: solid black;
}

/* Contact Me */
#contactSection{
    text-align: center;
    height: 100vh !important;
}

#contactTitle{
    font-family: 'Abril Fatface', cursive;
}

#contactCard p{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;  
}

#portfolio-watch{
    margin-top: 10px;
}

/* Footer */
.page-footer{
    background-color: black !important;

}



@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {

/* Landing Page */
    #landing{
        height: 100%;
    }
    #landingContent{
        margin-top: 25px;
    }

    #myPic{
    width: 100%;
    }

    #welcomeHeader{
        z-index: 1;
        text-align: center;
        transform: translate(0%, -25%);
        font-size: 2rem;
    }

    ul{ 
        white-space:nowrap; 
        height: 1em;
        width: 75%;
    } 

    li{ 
        display:inline; 
    }

    #subSubTitle{
        margin-left: 20%;
        color: white;
        font-size: 2rem;
    }

/* Portfolio */
#portfolioSection{
    background: url(/images/portfolio\ backdrop.png) no-repeat  bottom -10px left 0px fixed;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    background-size: 500px;
    height: auto;
}

  
/* Contact Me */
#contactSection{
    text-align: center;
    height: 90vh !important;
}

#contactTitle{
    font-family: 'Abril Fatface', cursive;
}

#contactCard p{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;  
}

#portfolio-watch{
    width: 80%;
}

/* End of Media Query 320px */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
/* Landing Page */
#landingImage{
    width: 100%;
}

#myPic{
    width: 100%;
}

#landingContent{
    margin-top: 0px;
}

#welcomeHeader{
    z-index: 1;
    text-align: center;
    transform: translate(0%, -225%);
    font-size: 2rem;
    color: white;
}

ul{ 
    white-space:nowrap; 
    height: 1em;
    width: 75%;
} 

li{ 
    display:inline; 
}

#subSubTitle{
    margin-left: 20%;
    color: white;
    font-size: 2.5rem;
}

/* Portfolio */
#portfolioSection{
background: url(/images/portfolio\ backdrop.png) no-repeat  bottom -100px left 0px fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: 768px;
}


/* Contact Me */
#contactSection{
text-align: center;
height: 75vh !important;
}

#contactTitle{
font-family: 'Abril Fatface', cursive;
}

#contactCard p{
font-family: 'Yanone Kaffeesatz', sans-serif;
text-align: center;
}

#portfolio-watch{
    width: 75%;
}

/* End of Media Query 768px */

}


@media only screen and (min-device-width : 1024px) and (max-device-width : 1279px){ 
/* Landing Page */
#myPic{
    width: 100vw;
}

#landingContent{
    margin-top: 10px;
}

#welcomeHeader{
    z-index: 1;
    text-align: center;
    transform: translate(-50%, 500%);
    font-size: 3rem;
    color: white;
}

ul{ 
    white-space:nowrap; 
    height: .5em;
    width: 75%;
} 

li{ 
    display:inline; 
}

#subSubTitle{
    margin-left: 20%;
    color: white;
    font-size: 3rem;
}

/* Portfolio */
#portfolioSection{
    background: url(/images/portfolio\ backdrop.png) no-repeat  bottom -100px left 0px fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 1024px;
    }

    #contactSection{
        text-align: center;
        height: 75vh !important;
        }
/* End of Media Query 1024px */


}

@media only screen and (min-device-width : 1280px) and (max-device-width : 1500px){ 
    /* Landing Page */
    #myPic{
        width: 100%;
    }
    
    #landingContent{
        margin-top: 10px;
    }
    
    #welcomeHeader{
        z-index: 1;
        text-align: center;
        transform: translate(0%, 150%);
        font-size: 3rem;
    }
    
    ul{ 
        white-space:nowrap; 
        height: .5em;
        width: 75%;
    } 
    
    li{ 
        display:inline; 
    }
    
    #subSubTitle{
        margin-left: 20%;
        color: white;
        font-size: 3rem;
    }
    
    /* Portfolio */
    #portfolioSection{
        background: url(/images/portfolio\ backdrop.png) no-repeat  bottom -100px left 500px fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: 1024px;
        }
    /* End of Media Query 1024px */
    
    
    }