/* Splash page CSS */
#splashBody{
    background-color: black;
}
#logo{
    justify-content: center;
    display: flex;
    padding: 250px 0;
    color:  gold;
    font-size: 20em;
    font-family: 'Nothing You Could Do', cursive;
    animation: animateLogo 7s infinite;
}
@keyframes animateLogo {
    0%{
        opacity: 0;
        transform: translateY(-100px);
        transform: scale(1,1);
    }
    100%{
        opacity: 1;
        transform: scale(1.5,1.5);
    }
}

  
            

/* main html */

div.nav-wrapper{ 
    background-color: black;
    width: 100%;
}

#brandLogo{
    color: gold;
    font-size: 4em;
    left: 500px;
    animation: brandLogo 3s infinite linear;
    font-family: 'Nothing You Could Do', cursive;
}



#nav-mobile{
    justify-content: center;
    display: flex;
    font-family: 'Nothing You Could Do', cursive;
}

#navTitle{
    color: gold;
    font-size: 1.5em;
}

/* About Me Section */
div.page {
    height:150px;
    justify-content: center;
    display: flex;
    }

#about{
    justify-content: center;
    display: flex;
    font-family: 'Nothing You Could Do', cursive;
}

#myPic{
    float: left;
    padding: 10px;
}

#aboutMePara{
    color: black;

}




/* portfolio section */
div.page2 {
    height:120px;
    justify-content: center;
    display: flex;
    }

#portfolio{
    justify-content: center;
    display: flex;
    font-family: 'Nothing You Could Do', cursive;
}


 /* Contact section */
 #contact{
    justify-content: center;
    display: flex;
    font-family: 'Nothing You Could Do', cursive;
 }
 
#contactCard{
    justify-content: center;
    display: flex;
    width: 100%;
}

button{
    align-content: center;
    left: 100px;
}


 /* Scroll down Animation*/
 #scroll{
     justify-content: center;
     display: flex;
     width: 100%;
 }

 #arrows{
    justify-content: center;
    display: flex;
}

 #downArrow, #downArrow2, #downArrow3{
     width: 100%;
     position: absolute;
     transform: translate(-50%,-50%);
 }

 #downArrow, #downArrow2, #downArrow3{
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #06A8FF;
    border-right: 5px solid #06A8FF;
    transform: rotate(45deg);
    margin: -10px%;
    animation: animate 2.2s infinite;
}
#downArrow{
    animation-delay: -0.1s
}
#downArrow2{
    animation-delay: -0.5s;
}
#downArrow3{
    animation-delay: -1s;
    
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

footer{
    justify-content: center;
    display: flex;
    background-color: black;
    color: white;
    padding: 75px;
    font-size: 25px;
}