
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {

    /* Landing Page */
        #landing{
            height: 100%;
        }
        #landingContent{
            margin-top: 25px;
        }
    
        #myPic{
        width: 100%;
        }
    
        #welcomeHeader{
            z-index: 1;
            text-align: center;
            transform: translate(0%, -25%);
            font-size: 2rem;
        }
    
        ul{ 
            white-space:nowrap; 
            height: 1em;
            width: 75%;
        } 
    
        li{ 
            display:inline; 
        }
    
        #subSubTitle{
            color: white;
        }
    
    /* Portfolio */
    #portfolioSection{
        -webkit-background-size: auto;
        -moz-background-size: auto;
        -o-background-size: auto;
        background-size: 500px;
        height: auto;
    }
    
      
    /* Contact Me */
    #contactSection{
        text-align: center;
        height: 90vh !important;
    }
    
    #contactTitle{
        font-family: 'Abril Fatface', cursive;
    }
    
    #contactCard p{
      font-family: 'Yanone Kaffeesatz', sans-serif;
      text-align: center;
      font-size: 2rem;
      margin-top: 10px;  
    }
    
    #portfolio-watch{
        width: 80%;
    }
    
    /* End of Media Query 320px */
    }
    
    @media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
    /* Landing Page */
    #landingImage{
        width: 100%;
    }
    
    #myPic{
        width: 100%;
    }
    
    #landingContent{
        margin-top: 0px;
    }
    
    #welcomeHeader{
        z-index: 1;
        text-align: center;
        transform: translate(0%, -225%);
        font-size: 2rem;
        color: white;
    }
    
    ul{ 
        white-space:nowrap; 
        height: 1em;
        width: 75%;
    } 
    
    li{ 
        display:inline; 
    }
    
    #subSubTitle{
        color: white;
    }
    
    /* Portfolio */
    #portfolioSection{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 768px;
    }
    
    
    /* Contact Me */
    #contactSection{
    text-align: center;
    height: 75vh !important;
    }
    
    #contactTitle{
    font-family: 'Abril Fatface', cursive;
    }
    
    #contactCard p{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: center;
    }
    
    #portfolio-watch{
        width: 75%;
    }
    
    /* End of Media Query 768px */
    
    }
    
    
    @media only screen and (min-device-width : 1024px) and (max-device-width : 1279px){ 
    /* Landing Page */
    #myPic{
        width: 100vw;
    }
    
    #landingContent{
        margin-top: 10px;
    }
    
    #welcomeHeader{
        z-index: 1;
        text-align: center;
        transform: translate(-50%, 500%);
        font-size: 3rem;
        color: white;
    }
    
    ul{ 
        white-space:nowrap; 
        height: .5em;
        width: 75%;
    } 
    
    li{ 
        display:inline; 
    }
    
    #subSubTitle{
        color: white;
    }
    
    /* Portfolio */
    #portfolioSection{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: 1024px;
        }
    
        #contactSection{
            text-align: center;
            height: 75vh !important;
            }
    /* End of Media Query 1024px */
    
    
    }
    
    @media only screen and (min-device-width : 1280px) and (max-device-width : 1500px){ 
        /* Landing Page */
        #myPic{
            width: 100%;
        }
        
        #landingContent{
            margin-top: 10px;
        }
        
        #welcomeHeader{
            z-index: 1;
            text-align: center;
            transform: translate(0%, 150%);
            font-size: 3rem;
        }
        
        ul{ 
            white-space:nowrap; 
            height: .5em;
            width: 75%;
        } 
        
        li{ 
            display:inline; 
        }
        
        #subSubTitle{
            color: white;
        }
        
        /* Portfolio */
        #portfolioSection{
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: 1024px;
            }
        /* End of Media Query 1024px */
        
        
        }